/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 150px 20px;
    text-align: center;
    background-image: url('Guidelines_for_Registration_and_Regulation_of_Coaching_Center_2024.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header-content h1{
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(108, 108, 244)); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
}

header p, header h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
}

.container p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* About Us Section Styles */
#about-us {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about-us h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
}

#about-us .container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}

#about-us .container img:hover {
    transform: scale(1.05);
}
/* Services Section Styles */
#services {
    background-color: #fff;
    padding: 50px 20px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.service {
    flex: 1 1 calc(22% - 20px); /* Adjust width as needed */
    background: linear-gradient(175deg, #ffffff, #04aabc);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    transition: transform 0.3s ease, color 0.3s ease;
}

.service h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.offered-subjects {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offered-subjects li {
    font-size: 0.9em;
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-bottom: 10px;
}

.offered-subjects li:last-child {
    margin-right: 0;
}

.service p {
    font-size: 0.9em;
}

/* Reach Us Section Styles */
#reach-us {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#reach-us h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
}

#reach-us p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

#reach-us .container iframe {
    width: 100%;
    height: 500px;  
    padding-bottom: 5px; 
    border: 1px ;
    position: relative;
    border-radius: 10px;
  }
  
  

.map-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.map-button:hover {
    background-color: #0056b3;
}

/* Contact Section Styles */
#contact {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
}

#contact p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Web Designer Section Styles */
#web-designer {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#web-designer h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
}

#web-designer p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.web-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.web-button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        padding: 15px;
    }

    .services-container {
        max-width: 1000px; /* Adjust width to fit within the container */
    }

    #about-us .about-us img {
        max-width: calc(100% - 40px); /* Adjust margin space */
    }
}

@media (max-width: 992px) {
    .header {
        padding: 100px 20px;
    }

    .services-container {
        gap: 20px;
    }

    .service {
        flex: 1 1 calc(30% - 20px);
    }
}

@media (max-width: 768px) {
    .header {
        padding: 80px 20px;
    }

    .service {
        flex: 1 1 calc(45% - 20px);
    }
}

@media (max-width: 576px) {
    .header {
        padding: 60px 20px;
    }

    .service {
        flex: 1 1 calc(100% - 20px);
    }
}

@media (max-width: 370px) {
    .header {
        padding: 50px 10px;
    }

    .container,
    .services-container,
    .service {
        padding: 10px;
        margin-bottom: 15px;
    }

    .service {
        flex: 1 1 100%;
    }
}
